@model IEnumerable<OnlineSupermarket.Models.Zbozi>

@{
    ViewData["Title"] = "Список продуктів";
}

<h2>Список продуктів</h2>

<table class="table">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Ціна</th>
            <th>Зображення</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Nazev</td>
                <td>@product.Cena</td>
                <td>
                    @if (product.IdSoubor != null)
                    {
                        <img src="@Url.Action("DisplayImage", "File", new { fileId = product.IdSoubor })" alt="Product Image" width="100" />
                    }
                    else
                    {
                        <p>Немає зображення</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>