@model OnlineSupermarket.Models.RegisUzivatel

@{
    ViewData["Title"] = "Registrovat Nového Uživatele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="registration" class="mt-5 fade-in">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="registration-form">
                <h2>Registrace</h2>
                <form asp-action="Create" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label asp-for="Jmeno">Jméno:</label>
                        <input asp-for="Jmeno" class="form-control" placeholder="Zadejte jméno" required maxlength="30" />
                        <span asp-validation-for="Jmeno" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Prijmeni">Příjmení:</label>
                        <input asp-for="Prijmeni" class="form-control" placeholder="Zadejte příjmení" required maxlength="30" />
                        <span asp-validation-for="Prijmeni" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HesloHash">Heslo:</label>
                        <input asp-for="HesloHash" class="form-control" placeholder="Zadejte heslo" type="password" required maxlength="100" />
                        <span asp-validation-for="HesloHash" class="text-danger"></span>
                    </div>
                    <!-- Если хотите, можете добавить поля для RoleIdRole, SouborIdSouboru, IdSouboru -->
                    <!-- Либо устанавливайте их значения по умолчанию в контроллере -->
                    <button type="submit" class="btn btn-primary btn-block">Registrovat</button>
                </form>
                <div class="mt-3 text-center">
                    <a asp-action="Index" asp-controller="RegisUzivatel" class="btn btn-secondary">&larr; Zpět na seznam</a>
                </div>
            </div>
        </div>
    </div>
</section>
