@model OnlineSupermarket.Models.Platba

@{
	ViewData["Title"] = "Upravit platbu";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
	@Html.AntiForgeryToken()
	<input type="hidden" asp-for="IdTranzakce" />
	<div class="form-group">
		<label asp-for="CelkovaCena" class="control-label">Celková cena</label>
		<input asp-for="CelkovaCena" class="form-control" />
		<span asp-validation-for="CelkovaCena" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Typ" class="control-label">Typ</label>
		<input asp-for="Typ" class="form-control" />
		<span asp-validation-for="Typ" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="ZboziIdZbozi" class="control-label">ID zboží</label>
		<input asp-for="ZboziIdZbozi" class="form-control" />
		<span asp-validation-for="ZboziIdZbozi" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="ProdejnaIdProdejny" class="control-label">ID prodejny</label>
		<input asp-for="ProdejnaIdProdejny" class="form-control" />
		<span asp-validation-for="ProdejnaIdProdejny" class="text-danger"></span>
	</div>
	<div class="form-group mt-3">
		<input type="submit" value="Uložit" class="btn btn-primary" />
		<a href="@Url.Action("Index")" class="btn btn-secondary">Zpět</a>
	</div>
</form>

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}