@{
    ViewData["Title"] = "Zásady ochrany osobních údajů";
}

<h1>@ViewData["Title"]</h1>

<p>Váš soukromí je pro nás velmi důležité. Tyto zásady ochrany osobních údajů vysvětlují, jak shromažďujeme, používáme, zveřejňujeme a chráníme vaše osobní údaje při používání našeho online supermarketu.</p>

<h2>Shromažďování informací</h2>
<p>Shromažďujeme různé typy informací, včetně údajů, které nám poskytujete přímo, například při registraci účtu, zadávání objednávek nebo kontaktování našeho zákaznického servisu. Také můžeme shromažďovat informace automaticky, jako jsou údaje o procházení našeho webu pomocí cookies.</p>

<h2>Použití informací</h2>
<p>Vaše osobní údaje používáme k poskytování a zlepšování našich služeb, zpracování vašich objednávek, komunikaci s vámi ohledně vašich objednávek nebo zákaznické podpory a k zasílání marketingových sdělení, pokud jste k tomu dali souhlas.</p>

<h2>Ochrana vašich informací</h2>
<p>Zavazujeme se chránit vaše osobní údaje a používáme odpovídající technická a organizační opatření, aby nedošlo k neoprávněnému přístupu, ztrátě nebo zneužití vašich údajů. Používáme šifrování, firewally a další bezpečnostní technologie, aby byly vaše údaje v bezpečí.</p>

<h2>Sdílení informací</h2>
<p>Vaše údaje nesdílíme s třetími stranami bez vašeho výslovného souhlasu, s výjimkou případů, kdy to vyžaduje zákon nebo pokud je to nezbytné k poskytování našich služeb, například s doručovacími partnery pro zajištění dodání vaší objednávky.</p>

<h2>Vaše práva</h2>
<p>Máte právo na přístup k vašim osobním údajům, jejich opravu nebo odstranění, stejně jako právo vznést námitku proti jejich zpracování nebo požadovat omezení zpracování. Pokud máte jakékoli dotazy ohledně svých osobních údajů, neváhejte nás kontaktovat.</p>

<h2>Kontaktujte nás</h2>
<p>Pokud máte jakékoli otázky nebo obavy ohledně našich zásad ochrany osobních údajů, můžete nás kontaktovat na e-mailové adrese <a href="mailto:support@onlinesupermarket.cz">support@onlinesupermarket.cz</a>.</p>

<p>Datum účinnosti: 1. leden 2024</p>