@model OnlineSupermarket.Models.Prodej

<h1>Nový Prodej</h1>

<form asp-action="Create" method="post">
    <div>
        <label for="Datum">Datum:</label>
        <input type="date" id="Datum" name="Datum" value="@Model.Datum.ToString("yyyy-MM-dd")" required />
    </div>
    <div>
        <label for="CelkovaCena">Celková Cena:</label>
        <input type="number" id="CelkovaCena" name="CelkovaCena" value="@Model.CelkovaCena" required step="0.01" />
    </div>
    <div>
        <label for="ZboziIdZbozi">ID Zboží:</label>
        <input type="number" id="ZboziIdZbozi" name="ZboziIdZbozi" value="@Model.ZboziIdZbozi" required />
    </div>
    <div>
        <label for="PlatbaIdTranzakce">ID Tranzakce (volitelné):</label>
        <input type="number" id="PlatbaIdTranzakce" name="PlatbaIdTranzakce" value="@Model.PlatbaIdTranzakce" />
    </div>
    <button type="submit">Založit</button>
</form>
