@model OnlineSupermarket.Models.Adresa

@{
	ViewData["Title"] = "Přidat adresu";
}

<h2>Přidat adresu</h2>

<form asp-action="Create" method="post" asp-antiforgery="true">
	@Html.AntiForgeryToken()
	<div class="form-group">
		<label asp-for="Mesto" class="control-label"></label>
		<input asp-for="Mesto" class="form-control" />
		<span asp-validation-for="Mesto" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Ulice" class="control-label"></label>
		<input asp-for="Ulice" class="form-control" />
		<span asp-validation-for="Ulice" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Psc" class="control-label"></label>
		<input asp-for="Psc" class="form-control" />
		<span asp-validation-for="Psc" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="ProdejnaIdProdejny" class="control-label"></label>
		<input asp-for="ProdejnaIdProdejny" class="form-control" />
		<span asp-validation-for="ProdejnaIdProdejny" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="ZamestnanecIdZamestance" class="control-label"></label>
		<input asp-for="ZamestnanecIdZamestance" class="form-control" />
		<span asp-validation-for="ZamestnanecIdZamestance" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="SkladIdSkladu" class="control-label"></label>
		<input asp-for="SkladIdSkladu" class="form-control" />
		<span asp-validation-for="SkladIdSkladu" class="text-danger"></span>
	</div>
	<div class="form-group">
		<input type="submit" value="Přidat" class="btn btn-primary" />
		<a asp-action="Index" class="btn btn-secondary">Zrušit</a>
	</div>
</form>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}