@model OnlineSupermarket.Models.Hotove

<h1>Новий запис в таблиці HOTOVE</h1>

<form asp-action="Create" method="post">
    <div>
        <label for="IdTranzakce">ID Tranzakce:</label>
        <input type="number" id="IdTranzakce" name="IdTranzakce" required />
    </div>
    <div>
        <label for="Vraceni">Vrácení:</label>
        <input type="number" step="0.01" id="Vraceni" name="Vraceni" required />
    </div>
    <button type="submit">Зберегти</button>
</form>
