@model IEnumerable<OnlineSupermarket.Models.Soubor>

@{
    ViewData["Title"] = "Завантажені файли";
}

<h2>Завантажені файли</h2>

<p>
    <a asp-action="Upload">Завантажити новий файл</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Назва файлу</th>
            <th>Тип</th>
            <th>Дія</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model)
        {
            <tr>
                <td>@file.Nazev</td>
                <td>@file.TypSouboru</td>
                <td>
                    <a asp-action="DisplayImage" asp-route-fileId="@file.IdSoubor">Переглянути</a> |
                    <a asp-action="DeleteFile" asp-route-fileId="@file.IdSoubor">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>