@model OnlineSupermarket.Models.Zbozi

@{
    ViewData["Title"] = "Create Zbozi";
}

<h1>Create Zbozi</h1>

<h4>Zbozi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="Nazev" class="control-label"></label>
                <input asp-for="Nazev" class="form-control" />
                <span asp-validation-for="Nazev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AktualniCena" class="control-label"></label>
                <input asp-for="AktualniCena" class="form-control" />
                <span asp-validation-for="AktualniCena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CenaZeKlubKartou" class="control-label"></label>
                <input asp-for="CenaZeKlubKartou" class="form-control" />
                <span asp-validation-for="CenaZeKlubKartou" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hmotnost" class="control-label"></label>
                <input asp-for="Hmotnost" class="form-control" />
                <span asp-validation-for="Hmotnost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slozeni" class="control-label"></label>
                <input asp-for="Slozeni" class="form-control" />
                <span asp-validation-for="Slozeni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KategorieIdKategorie" class="control-label"></label>
                <input asp-for="KategorieIdKategorie" class="form-control" />
                <span asp-validation-for="KategorieIdKategorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


