@model OnlineSupermarket.Models.Pokladna

@{
    ViewData["Title"] = "Create Pokladna";
}

<h1>Create Pokladna</h1>

<h4>Pokladna</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Samoobsluzna" class="control-label"></label>
                <select asp-for="Samoobsluzna" class="form-control">
                    <option value="0">Obyčejná</option>
                    <option value="1">Samoobslužná</option>
                </select>
                <span asp-validation-for="Samoobsluzna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}