@model OnlineSupermarket.Models.ZboziNaSklade

<h2>Edit</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="ZboziIdZbozi" />
    <input type="hidden" asp-for="SkladIdSkladu" />
    <div class="form-group">
        <label asp-for="Pocet" class="control-label"></label>
        <input asp-for="Pocet" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AdresaIdAdresy" class="control-label"></label>
        <input asp-for="AdresaIdAdresy" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="KategorieIdKategorii" class="control-label"></label>
        <input asp-for="KategorieIdKategorii" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>